body {	
	background: url(../img/bg.jpg) repeat-x;
}	

a {color: #42B0CC;text-decoration: none;}
a:hover {color: #0000FF;text-decoration: underline;}
img{
	width:98%;
	display: block;
	margin:auto;
	padding:10px;
} 
.button {
    background: #234C7F;
    color: #ffffff;
    border: none;
    font-family: Arial;
    cursor: pointer;
}
#header 
{
	width:70%;height:110px;
	margin:20px auto 0px ;
}
	#top_welcom 
	{
		height:50px;
		font-size: 30px;
		text-align: center;
	}
	#nav 
	{
		height:50px;
		margin:5px auto;
		font-size: 20px;
		background-color:#FFFFFF;
		line-height:50px;
	}
		.navtb td{font-size:20px;} 
				
#container 
{
	width:70%;height:700px;
	margin:auto;
	background-color: rgba(255, 255, 255, 0.4);
}
.introduction{float:left;width:50%;height:150px;}
.contact{float:right;width:45%;height:150px;}

#search{
	height:150px;
	font-size: 15px;
	text-align: center;
	padding-top:15px;
}	
#searchResult{
	float:left;
	height:450px;
	font-size: 15px;
	text-align: left;
	padding-top:15px;
}
#footer 
{
	width:70%;height:136px;
	margin:10px auto;
	text-align: center;
}
	